/* Variables & Base Styles */
html{ 
  --off-white: rgb(245, 242, 240);
  --background-main: #F3E9E2;
  --background-accent-1: #CE796B;
  --background-accent-2: #E7AD99;
  --background-accent-3: #ECC8AF;

  --text-color-main: #1E152A;
  --text-color-accent-1: #5D4954;
  --text-color-accent-2: #CE796B;

  --font-title: Petemoss;
  --font-body: Lora;

  /*root size override*/
  font-size: 10px; 
  /*scroll-behavior: smooth;*/
}

body {
  color: var(--text-color-main);
  background-color: var(--background-main);
  text-align: center;
  font-family: var(--font-body);
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;
}

/* Typography, Links, & Accents */
.title{
  font-family: var(--font-title);
  font-size: 10rem;
  margin: 0;
  line-height: 7.5rem;
}
.tagline{
  font-size: 1.2rem;
  font-style: italic;
}

h2{
  font-size: clamp(3rem, 4vw, 5rem);
  font-weight: 500;
}

h3{
  font-size: 1.4rem;
  font-weight: 450;
}

p{
  font-size: 1.15rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 240
}
.fill{
  font-variation-settings:
  'FILL' 1,
  'wght' 800,
  'GRAD' 0,
  'opsz' 240
}

.line-break{
  background-color: var(--background-accent-3);
  height: 1px;
  width: 95vw;
  margin: 5rem auto;
}

.grow-text{
  font-size: clamp(1.15rem, 2vw, 1.8rem);
}
.grow-text-small{
  font-size: clamp(0.9rem, 1.8vw, 1.6rem);
  font-style: italic;
}

/**** Header Section ****/

/* Navbar Section (2) */
nav{
  box-sizing: border-box;
  background-color: var(--background-accent-3);
  padding: 0.5rem;

  position: sticky;
  top: 0;
  z-index: 5;

  display: flex;
  justify-content: end;
}
nav a{
  font-size: 1.4rem;
  font-family: var(--font-body);
  color: var(--text-color-main);
  text-decoration: none;
  margin: 0.5rem;
  margin-right: 1.5rem;
}
nav a:hover{
  color: var(--text-color-accent-1);
}

/* Title Section */
.header-content{
  background-image: linear-gradient(rgba(236, 200, 175, 0.5), rgba(236, 200, 175, 0.5)), url("./img/floral-pattern.avif");
  padding: 4rem 2rem 2rem 2rem;
  
}

.sticky-border{
  background-color: var(--background-accent-2);
  height: 1.5px;

  position: sticky;
  z-index: 5;
  top: 3.8rem;
  margin-bottom: 1.8rem;
}

/**** Main Content ****/

/* Hero Section */
#hero-container img{
  height: auto;
  width: 100%;
}
#hero-container::before{ /*pin styling*/
  content: "";
  display: block;
  height: 7.8125%;
  width: 5.5%;
  border-radius: 50%;
  position: absolute;
  background-color: var(--background-accent-1);
  box-shadow: inset 0.2rem 0.15rem 0.2rem rgba(234, 232, 232, 0.5),
                    0.6rem 0.4rem 0.3rem rgba(13, 13, 13, 0.5);
  left: 46%;
  top: -1%;
}
#hero-container{
  background-color: var(--off-white);

  padding: 0.8rem;
  height: fit-content;
  width: 90%;
  position: relative;
  left: 0.8rem;

  transform: rotate(5deg);
  box-shadow: 0.625rem 0.45rem 0.8rem rgba(0,0,0,0.2),
        inset 0.625rem 0.45rem 0.8rem rgba(255, 255, 255, 0.5);
}


/* About Section */
.about-us{
  scroll-margin-top: 4rem;
  
  padding: 5rem 2rem;
  margin-bottom: 3rem;
  text-align: left;

  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: flex-end;
}
.about-us-content{
  color: var(--text-color-main);
  margin-bottom: 1.2rem;
}

/* Testimonials Section (2) */
.testimonials{
  background-color: var(--background-accent-2);
  width: 100%;
  overflow: hidden;
  margin: 4rem 0;
}

.track{
  width: max-content;
  display: flex;
  animation: scroll 30s linear infinite;
}
.testimonials:hover .track {
  animation-play-state: paused; 
}

.testimonial-card{
  background-color: var(--off-white);
  padding: 0.8rem;
  width: 20rem;
  margin: 1rem;
  text-align: left;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.testimonial-card p{
  margin: 0;
  margin-top: 0.5rem;
}
.testimonial-card .stars{
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
}
/* UNCOMMENT LATER*/
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


/* Seasonal Picks Section (3) */
.seasonal-picks{
  scroll-margin-top: 6rem;
  padding: 2rem 2rem;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.seasonal-content{
  text-align: right;
  margin-right: max(2rem, 5%);
  display: flex;
  flex-direction: column;
  width: 40%;
}

.img-container img{
  width: 100%;
  margin-top: -20%;
}
.seasonal-picks .img-container{
  overflow: hidden;
  width: 50%;
}


/* Specials Section */
.specials{
  scroll-margin-top: 6rem;
  margin-bottom: 2rem;
}
.specials-list{
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}
.special-offer img{
  width: 100%;
  padding: 0;
  border-radius: 5px;
}
.special-offer{
  position: relative;
  box-sizing: border-box;
  min-width: 24rem;
  flex: 1;
  padding: 1.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.special-offer p{
  font-size: clamp(1.15rem, 1.5vw, 1.5rem);
}
.special-offer h3{
  font-size: clamp(1.4rem, 2vw, 2rem);
}
.special-offer h3::before{ /*line styling*/
  content: "";
  display: block;
  height: 1.5px;
  width: 90%;
  background: var(--background-accent-3);
  margin: 0 auto;
  margin-bottom: 1.2rem;
}
.special-offer:hover{
  box-shadow: 0 5px 10px rgba(0,0,0,0.1),
        inset 0 5px 8px rgba(249, 248, 247, 0.4);
  translate: 0 -5px;
}
.price-was{
  font-style: italic;
  color: var(--text-color-accent-1);
  text-decoration-line: line-through;
}

/* Visit Us Section */
.visit-us{
  scroll-margin-top: 6rem;
  background-color: var(--background-accent-3);
  padding: 2rem 0 9rem 0;

  display: grid;
  grid-template-columns: 1fr 2fr;
}
.visit-us h2{
  grid-column: span 2;
}

.contact-info{
  margin: auto;
  padding: 1rem;
}

.contact-info,
.contact-info p{
  font-size: clamp(1.09rem, 2.5vw, 2.5rem);
}

.phone-block a{
  color: var(--text-color-accent-1);
  text-decoration: none;
}
.phone-block a:hover{
  color: var(--text-color-accent-2);
  text-decoration: underline;
}
iframe {
  width: 100%;
  height: 350px;
}

/* Footer */
/* Footer Enhancements (2) */
footer {
  margin-top: 48px;
}

.footer-links{
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
  margin-bottom: 4rem;
}

.footer-links h3{
  text-transform: uppercase;
  font-size: clamp(1.4rem, 1.5vw, 2.5rem);
}
.footer-links h3::after{ /*line styling*/
  content: "";
  display: block;
  height: 1.5px;
  width: 90%;
  background: var(--background-accent-3);
  margin: 0 auto;
  margin-top: 0.5rem;
}

.link-container{
  display: flex;
  flex-direction: column;
}
.link-container a{
  text-align: left;
  color: var(--text-color-main);
  font-size: clamp(1.2rem, 1.3vw, 2rem);
  text-decoration: none;
  line-height: clamp(2rem, 2vw, 3rem);
}
.link-container a:hover{
  color: var(--text-color-accent-1);
}

.hours ul{
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}

.hours ul li{
  display: flex;
  justify-content: space-between;
  line-height: clamp(2rem, 2vw, 3rem);
}
li p{
  font-size: clamp(1.2rem, 1.3vw, 2rem);
}
.start{
  margin-right: clamp(1rem, 2vw, 3rem);
}

.copyright{
  border-top: 1.5px solid var(--background-accent-3);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.copyright p{
  font-size: clamp(1rem, 1.2vw, 1.8rem);
}
/* New Page: About Fran (3) */
/* Accessibility Improvements (3) */

@media only screen and (max-width: 425px){
  nav{
    justify-content: space-evenly;
  }
  nav a{
    font-size: 1rem
  }
  .sticky-border{
    top: 3.25rem;
  }
  .about-us{
    display: block;
    text-align: center;
  }
  .about-us h2{
    margin-bottom: 1rem;
  }

  .seasonal-picks{
    flex-direction: column;
    position: relative;
  }
  .seasonal-content{
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .seasonal-picks .img-container{
   width: 80%;
   position: absolute;
   top: 10rem;
  }
  .seasonal-text{
    margin-top: 120%;
  }

  .specials-list{
    flex-direction:column;
  }

  .visit-us{
    display: block;
    padding: 2rem 2rem 2rem 2rem;
    margin: 0;
  }
  .contact-info{
    padding: 0;
    margin: 0;
  }

  .link-container h3{
    font-size: clamp(1.1rem, 1.2vw, 1.4rem);
  }
  .hours ul li{
    line-height: 1rem;
  }
  li p,
  .link-container a{
  font-size: clamp(0.9rem, 1vw, 1.1rem);
  }
  .start{
    margin-right: 0.5rem;
  }
}
